<div class="slider">
  <div id="carouselSlider" class="carousel carousel-1 position-relative">
    <div class="overlay"></div>
    <div class="carousel_articles">
      <span class="main-text">
        <h1 class="text-white">Best game of</h1>
        <h1 class="text-white text">2020</h1>
        <p class="px-1">JOHN DOE</p>
      </span>
      <div class="carouselControl owl-nav">
        <div class="owl-prev prevButton btn" role="button">
          <img
            src="{{ url_for('static', filename='images/arrowLeftIcon.svg') }}"
            alt="left arrow"
            class="arrowLeft"
          />
        </div>
        <div class="owl-next nextButton btn" role="button">
          <img
            src="{{ url_for('static', filename='images/arrowRightIcon.svg') }}"
            alt="next"
            class="arrowRight"
          />
        </div>
      </div>
      <div id="articleSlider" class="content-latestnews-group d-flex">
        <div class="owl-carousel owl-theme owl-loaded">
          <div class="owl-stage-outer">
            <div class="owl-stage">
              <div class="owl-item content-lastest-news d-flex">
                <img src="{{ url_for('static', filename='images/Rectangle6.png') }}" alt="carousel news" />
                <div class="carousel_news">
                  <span>
                    <h4>The 13 horniest TV moment of 2020</h4>
                    <p>5 min read</p>
                  </span>
                  <p>
                    You don't need us to tell you that 2020 was horny as heck.
                    We spent months inside without human contact
                  </p>
                </div>
              </div>
              <div class="owl-item content-lastest-news d-flex">
                <img src="{{ url_for('static', filename='images/Rectangle5.png') }}" alt="carousel news" />
                <div class="carousel_news">
                  <span>
                    <h4>
                      'Cyberpunk 2077' is a wondrous creation trailed by a
                      mil-long..
                    </h4>
                    <p>8 min read</p>
                  </span>
                  <p>
                    You don't need us to tell you that 2020 was horny as heck.
                    We spent months inside without human contact
                  </p>
                </div>
              </div>
              <div class="owl-item content-lastest-news d-flex">
                <img src="{{ url_for('static', filename='images/Rectangle7.png') }}" alt="carousel news" />
                <div class="carousel_news">
                  <span>
                    <h4>
                      Taylor Swift just dropped a banger remix of 'willow' for
                      h...
                    </h4>
                    <p>6 min read</p>
                  </span>
                  <p>
                    You don't need us to tell you that 2020 was horny as heck.
                    We spent months inside without human contact
                  </p>
                </div>
              </div>
              <div class="owl-item content-lastest-news d-flex">
                <img src="{{ url_for('static', filename='images/Rectangle5.png') }}" alt="carousel news" />
                <div class="carousel_news">
                  <span>
                    <h4>
                      'Cyberpunk 2077' is a wondrous creation trailed by a
                      mil-long..
                    </h4>
                    <p>8 min read</p>
                  </span>
                  <p>
                    You don't need us to tell you that 2020 was horny as heck.
                    We spent months inside without human contact
                  </p>
                </div>
              </div>
              <div class="owl-item content-lastest-news d-flex">
                <img src="{{ url_for('static', filename='images/Rectangle6.png') }}" alt="carousel news" />
                <div class="carousel_news">
                  <span>
                    <h4>The 13 horniest TV moment of 2020</h4>
                    <p>5 min read</p>
                  </span>
                  <p>
                    You don't need us to tell you that 2020 was horny as heck.
                    We spent months inside without human contact
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
