<div
  class="whats_new bg-white col-sm-12 col-xs-12 col-lg-4 px-1 d-none d-lg-block"
>
  <h1 class="text-center d-none d-lg-block">WHAT'S NEW</h1>
  <div class="news_highlight news_1 d-flex align-items-center mx-3">
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse.png') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>Apple now sells yoga mats and bike helmets</h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div
    class="news_highlight news_2 d-flex justify-content-around align-items-center mx-3"
  >
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse3.jpg') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>
        5 behind-the-scenes revelations from the 'FUN RUN' episode of 'The
        Office'
      </h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div
    class="news_highlight news_3 d-flex justify-content-around align-items-center mx-3 my-0"
  >
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse1.jpg') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>Santa clause can give you directions in Waze these holidays</h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div
    class="news_highlight news_4 d-flex justify-content-around align-items-center mx-3"
  >
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/ellipses2.jpg') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>Uber adds option to send packages just in time for the holiday</h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div class="news_highlight news_1 d-flex align-items-center mx-3">
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse.png') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>Apple now sells yoga mats and bike helmets</h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div
    class="news_highlight news_2 d-flex justify-content-around align-items-center mx-3"
  >
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse3.jpg') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>
        5 behind-the-scenes revelations from the 'FUN RUN' episode of 'The
        Office'
      </h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div
    class="news_highlight news_3 d-flex justify-content-around align-items-center mx-3 my-0"
  >
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse1.jpg') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>Santa clause can give you directions in Waze these holidays</h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div
    class="news_highlight news_4 d-flex justify-content-around align-items-center mx-3"
  >
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/ellipses2.jpg') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>Uber adds option to send packages just in time for the holiday</h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div class="news_highlight news_1 d-flex align-items-center mx-3">
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse.png') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>Apple now sells yoga mats and bike helmets</h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
  <div
    class="news_highlight news_2 d-flex justify-content-around align-items-center mx-3"
  >
    <div class="thumbnail">
      <img
        src="{{ url_for('static', filename='images/Ellipse3.jpg') }}"
        class="rounded-circle"
        alt="news-img"
      />
    </div>
    <div class="title d-flex flex-column mb-1">
      <h5>
        5 behind-the-scenes revelations from the 'FUN RUN' episode of 'The
        Office'
      </h5>
      <span class="author d-flex">
        <p class="text-muted">
          BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
        </p>
      </span>
    </div>
  </div>
</div>
