<div class="news_1 d-flex flex-column m-2 bg-white">
  <div class="position-relative">
    <img
      src="{{ url_for('static', filename='images/base2.jpg')}}"
      alt="image placeholder"
    />
    <button
      type="button"
      class="btn btn-primary worldTag my-2 w-25 text-white px-1"
    >
      WORLD
    </button>
  </div>
  <span class="title d-flex flex-column">
    <p>5G is getting faster, but the U.S. is lagging behind</p>
    <span class="author d-flex">
      <p class="text-muted">
        BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
      </p>
    </span>
  </span>
</div>
<div class="news_1 d-flex flex-column m-2 bg-white">
  <div class="position-relative">
    <img
      src="{{ url_for('static', filename='images/base3.jpg')}}"
      alt="image
    placeholder"
    />
    <button
      type="button"
      class="btn btn-primary worldTag my-2 w-25 text-white px-1"
    >
      WORLD
    </button>
  </div>
  <span class="title d-flex flex-column">
    <p>Hackers are targeting kindergartens for profit, warns government</p>
    <span class="author d-flex">
      <p class="text-muted">
        BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
      </p>
    </span>
  </span>
</div>
<div class="news_1 d-flex flex-column m-2">
  <div class="position-relative">
    <img
      src="{{ url_for('static', filename='images/base4.jpg')}}"
      alt="image placeholder"
    />
    <button
      type="button"
      class="btn btn-primary worldTag my-2 w-25 text-white px-1"
    >
      WORLD
    </button>
  </div>
  <span class="title d-flex flex-column">
    <p>
      Facebook illegally maintains a monopoly and a breakup is on the table,
      says FTC lawsuit
    </p>
    <span class="author d-flex">
      <p class="text-muted">
        BY <span class="text-primary">JOHN DOE</span> - JAN. 01, 2021
      </p>
    </span>
  </span>
</div>
